<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cordys.crm.customer.mapper.ExtCustomerCallRecordMapper">

    <select id="list" resultType="cn.cordys.crm.customer.dto.response.CustomerCallRecordListResponse">
        select cra.es_id as id,
               cra.customer_id as customerId,
               su.name as employeeName,
               cra.begin_time as beginTime,
               cra.end_time as endTime,
               cra.is_connected as isConnected,
               cra.duration,
               cra.record as record
        from mmba_call_record_audit cra
        left join sys_user su on su.um = cra.um
        where cra.um = #{um}
          and cra.customer_tel = #{customerTel}
          and ifnull(cra.begin_timestamp, cra.timestamp) >= #{collectionTime}
        order by cra.begin_timestamp desc, cra.timestamp desc, cra.es_id desc
    </select>
</mapper>
