<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cordys.mmba.mapper.ExtMmbaDeviceMapper">

    <select id="page" resultType="cn.cordys.mmba.domain.MmbaDevice">
        select *
        from mmba_device
        where 1 = 1
        <if test="request.deviceStatus != null">
            and device_status = #{request.deviceStatus}
        </if>
        <if test="request.keyword != null and request.keyword != ''">
            and (
                id like concat('%', #{request.keyword}, '%')
                or staff_name like concat('%', #{request.keyword}, '%')
                or imei like concat('%', #{request.keyword}, '%')
                or imei2 like concat('%', #{request.keyword}, '%')
                or phone like concat('%', #{request.keyword}, '%')
                or phone2 like concat('%', #{request.keyword}, '%')
            )
        </if>
        order by update_time desc
    </select>

    <select id="list" resultType="cn.cordys.mmba.domain.MmbaDevice">
        select * from mmba_device where `enable` = true
    </select>
</mapper>
